h1 {
font-size:1.75em;
color:#333333;
}

h2 {
clear: both;
}

.graph_back {
        height : 400px;        
        width : 400px;
        float: left;
        background-color: #ffffff;
        margin-bottom: 50px;
}
.inline-block_test {
    display: inline-block;      /* インラインブロック要素にする */
    background-color:  #ffffff;    /* 背景色指定 */
    padding:  20px;             /* 余白指定 */
}

.centered {
  position: relative;
  overflow: hidden;
}
 
.centered ul {
  position: relative;
  left: 40%;
  float: left;
}
 
.centered ul li {
  position: relative;
  left: -40%;
  float: left;
}


.parent {
    text-align: center;         /* 子要素を左右中央揃えにする */
    border: solid 2px;          /* 枠線指定 */
    padding:  20px;             /* 余白指定 */
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(../img/individual_back.jpg);
  background-size : 100% auto;
}
